<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.zzy.library_web.dao.BookDao">
    <resultMap id="bookDetailMap" type="cn.zzy.library_web.entity.BookDetail">
        <id column="bookid" property="id" />
        <result column="bookname" property="name"/>
        <result column="bookauthor" property="author"/>
        <result column="bookpublish" property="publish"/>
        <result column="bookISBN" property="ISBN"/>
        <result column="bookintroduction" property="introduction"/>
        <result column="booklanguage" property="language"/>
        <result column="bookprice" property="price"/>
        <result column="bookpubDate" property="pubDate"/>
        <result column="booknumber" property="number"/>
        <result column="booktypeId" property="type"/>
    </resultMap>


    <resultMap id="bookTypeMap" type="cn.zzy.library_web.entity.BookType">
        <id column="typeid" property="id" />
        <result column="typename" property="name"/>
    </resultMap>

    <select id="getAllBookType" resultMap="bookTypeMap">
        SELECT * FROM bookType
    </select>


    <select id="getOneTypeBook" resultMap="bookDetailMap">
        SELECT * FROM bookInfo
        where booktypeId = #{typeId}
    </select>

    <select id="checkBookExist" resultType="java.lang.Boolean">
        select count(1) from bookInfo
        where bookISBN = #{bookISBN}
    </select>

    <select id="getOneBookDetail" resultMap="bookDetailMap">
        SELECT b1.*,b2.typename
        FROM bookInfo b1,bookType b2
        where b1.bookid = #{id}
        and b1.booktypeid = b2.typeid;
    </select>

    <select id="getSearchAllBook" resultMap="bookDetailMap">
        SELECT * FROM bookInfo
        where (bookName like #{info}
        or bookAuthor like #{info}
        or bookPublish like #{info})
    </select>

    <update id="reduceBookNumber">
        UPDATE bookInfo SET bookNumber = bookNumber - 1
        WHERE bookId = #{bookId}
        and bookNumber > 0
  </update>



    <update id="increaseBookNumber">
        UPDATE bookInfo SET bookNumber = bookNumber + 1
         WHERE bookId = #{bookId}
  </update>

    <insert id="addBook" parameterType="cn.zzy.library_web.entity.BookDetail" useGeneratedKeys="true" keyProperty="id">
        insert into bookInfo
        (bookname,bookauthor,bookpublish,bookISBN,bookintroduction,booklanguage,bookprice,
        bookpubDate,booknumber,booktypeId)
        VALUE
        (#{name},#{author},#{publish},#{ISBN},
        #{introduction},#{language},#{price},#{pubDate},
        #{number},#{type})
    </insert>

    <update id="modifyBook" parameterType="cn.zzy.library_web.entity.BookDetail">
        update bookInfo set
        bookname = #{name},bookauthor = #{author},bookpublish = #{publish},
        bookISBN = #{ISBN},bookintroduction = #{introduction},
        booklanguage = #{language},bookprice = #{price},bookpubDate = #{pubDate},
        booknumber = #{number},booktypeId = #{type}
        where bookid = #{id}
    </update>

    <insert id="addStore">
        insert into storeLog
        (pubDate,pubAdminId,pubBookId)
        VALUE
        (#{date},#{adminId},#{bookId})
    </insert>
</mapper>