<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.zzy.library_web.dao.UserDao">


    <insert id="addUser">
        INSERT INTO user
        (userName,userNickname,password,email,role,registertime)
        VALUE
        (#{userName},#{userNickname},#{password},#{email},#{role},#{registerTime})
    </insert>


    <update id="modifyPass">
        UPDATE user SET password = #{newPass}
        WHERE id = #{userId}
    </update>
    <update id="modifyUserInfo">
        UPDATE user SET userNickname = #{nickName},
        email = #{email} WHERE id = #{userId}
    </update>

    <delete id="deleteUser">
        DELETE FROM user WHERE id = #{userId}
    </delete>

    <select id="getUserByName" resultType="cn.zzy.library_web.entity.User">
        SELECT * FROM User
        where username = #{name}
    </select>
    <select id="getUserById" resultType="cn.zzy.library_web.entity.User">
        SELECT * FROM User
        where id = #{userId}
    </select>

</mapper>