<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.zzy.library_web.dao.UserDao">


    <insert id="addUser">
        INSERT INTO user
        (userName,userNickname,userPass,email,role,registertime)
        VALUE
        (#{userName},#{userNickname},#{userPass},#{email},#{role},#{registerTime})
    </insert>


    <update id="modifyPass">
        UPDATE user SET userPass = #{newPass}
        WHERE userId = #{userId}
    </update>

    <update id="modifyUserInfo">
        UPDATE user SET userNickname = #{nickName},
        email = #{email} WHERE userId = #{userId}
    </update>

    <delete id="deleteUser">
        DELETE FROM user WHERE userId = #{userId}
    </delete>

    <select id="getAccountByName" resultType="cn.zzy.library_web.entity.Account">
        SELECT * FROM Account
        where accountName = #{accountName}
    </select>
    <select id="getAccountById" resultType="cn.zzy.library_web.entity.Account">
        SELECT * FROM Account
        where accountId = #{accountId}
    </select>

    <select id="getUserByName" resultType="cn.zzy.library_web.entity.User">
        SELECT * FROM User
        where username = #{userName}
    </select>

    <select id="getUserById" resultType="cn.zzy.library_web.entity.User">
        SELECT * FROM User
        where userId = #{userId}
    </select>

</mapper>