<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.zzy.library_web.dao.UserDao">


    <insert id="addUser" parameterType="cn.zzy.library_web.entity.User">
        INSERT INTO user
        (userFullName,userEmail,userRegistertime,accountId)
        VALUE
        (#{userFullName},#{userEmail},#{userRegistertime},#{accountId})
    </insert>

    <insert id="addAccount" parameterType="cn.zzy.library_web.entity.Account"
            useGeneratedKeys="true" keyProperty="accountId">
        INSERT INTO account
        (accountName,accountPass,accountRole)
        VALUE
        (#{accountName},#{accountPass},#{accountRole})
    </insert>

    <update id="modifyPass">
        UPDATE account SET accountPass = #{newPass}
        WHERE accountId = #{accountId}
    </update>

    <update id="modifyUserInfo">
        UPDATE user SET userFullName = #{userFullName},
        userEmail = #{userEmail} WHERE accountId = #{accountId}
    </update>


    <select id="getAccountByName" resultType="cn.zzy.library_web.entity.Account">
        SELECT * FROM account
        where accountName = #{accountName}
    </select>

    <select id="getAccountById" resultType="cn.zzy.library_web.entity.Account">
        SELECT * FROM account
        where accountId = #{accountId}
    </select>

    <select id="getUserByName" resultType="cn.zzy.library_web.entity.User">
        SELECT * FROM account a,user u
        where a.accountId = u.accountId
        and a.accountName = #{accountName}
    </select>

    <select id="getUserById" resultType="cn.zzy.library_web.entity.User">
        SELECT a.accountName,u.* FROM account a,user u
        where a.accountId = u.accountId
        and a.accountId = #{accountId}
    </select>

</mapper>